@page "/myorders"
@inject HttpClient HttpClient
    <div class="main">
        <TemplatedList TItem="OrderWithStatus" Loader="@LoadOrders" ListGroupClass="orders-list">
            <LoadingContent></LoadingContent>
            <EmptyContent>
                <h2>No orders placed</h2>
                <a class="btn btn-success" href="">Order some pizza</a>
            </EmptyContent>
            <ItemContent Context="currentPizza" >
                <div class="col">
                    <h5>@currentPizza.Order.CreatedTime.ToLongDateString()</h5>
                    Items:
                    <strong>@currentPizza.Order.Pizzas.Count()</strong>;
                    Total price:
                    <strong>$@currentPizza.Order.GetFormattedTotalPrice()</strong>
                </div>
                <div class="col">
                    Status: <strong>@currentPizza.StatusText</strong>
                </div>
                <div class="col flex-grow-0">
                    <a href="myorders/@currentPizza.Order.OrderId" class="btn btn-success">
                        Track >
                    </a>
                </div>
            </ItemContent>
        </TemplatedList>
 
    </div>

@functions{
    List<OrderWithStatus> _orders;

    protected async override Task OnInitAsync()
    {
        _orders = await LoadOrders();
    }

    Task<List<OrderWithStatus>> LoadOrders()
    {
        return  HttpClient.GetJsonAsync<List<OrderWithStatus>>("/orders");
    }
}
